.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 30px;
    font-family: 'Source Sans Pro', sans-serif;
  }
  #mainImage{
      opacity: 0.5
      !important;
  }
  .header{
    font-family: 'Source Sans Pro', sans-serif;
  }
  .areas{
    text-align: left
  }
  a{
    color: black
  }
  a:hover{
    text-decoration: underline
  }